{
    "extends": "@react-native-community",
    "rules": {
        "quotes": [
            2,
            "double",
            {
                "avoidEscape": true
            }
        ]
    },
    "prettier/prettier": ["error", {}, {
        "fileInfoOptions": {
          "withNodeModules": true
        }
      }]
}